<html>
    <head>
        <title><%= category %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body style="display: flex; justify-content: center; flex-direction: column; align-items: center">
        <%- include('./header') %>
        <h1>Catégorie sélectionnée: <%= category %></h1>
        <div class="booksContainer">
            <% if (books.length === 0) { %>
                <p>Il n'y a pas de livre dans cette catégorie.</p>
            <%} else { %>
                <% books.forEach(function(book) { %>
                    <div class="bookCard">
                        <div class="imageContainer" style="margin-bottom: 5px">
                            <img src="/images/book-image2.jpg" alt="">
                        </div>
                        <div class="infoContainer">
                            <p style="color: grey; opacity: 80%" class="author"><%= book.author %></p>
                            <p style="" ><%= book.name %></p>
                            <p class="price"><%= book.price %> €</p>
                        </div>
                        <div class="buttonContainer">
                            <a href='' class="addBasketButton">Ajouter au panier</a>
                            <a href='/book/<%= book._id %>' class="lookButton">Voir le livre</a>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </body>
</html>