
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('./header') %>
        <main>
            <div class="infoPageContainer">
                <h2>Tous les livres disponibles</h2>
                <p>Notre boutique de livres propose une variété incroyable de livres pour tous les goûts. Avec une quantité énorme de livres dans notre inventaire, il y a quelque chose pour chaque lecteur, peu importe leur genre préféré. Nous avons une collection de best-sellers, de classiques intemporels, de livres de développement personnel, de romans d'aventure, et bien plus encore. Tous nos livres sont de qualité supérieure et sont soigneusement sélectionnés pour offrir à nos clients une expérience de lecture enrichissante.</p>
            </div>
            <div class="booksContainer">
                <% books.forEach(function(book) { %>
                    <% if (books.length === 0) { %>
                        <p>Il n'y a pas de livre dans la base de donnée</p>
                    <%} else { %>
                        <div class="bookCard">
                            <div class="imageContainer" style="margin-bottom: 5px">
                                <img src="/images/book-image2.jpg" alt="">
                            </div>
                            <div class="infoContainer">
                                <p style="color: grey; opacity: 80%" class="author"><%= book.author %></p>
                                <p style="white-space: nowrap; overflow: hidden" ><%= book.name %></p>
                                <p class="price"><%= book.price %> €</p>
                            </div>
                            <div class="buttonContainer">
                                <a href='' class="addBasketButton">Ajouter au panier</a>
                                <a href='/book/<%= book._id %>' class="lookButton">Voir le livre</a>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </main>
    </body>

</html>
