<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('./header') %>
        <main class="">
            <div class="containerCardSingleBook">
                <div class="cardSingleBook">
                    <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= title %></h3>
                    <div style="display: flex; justify-content: space-between">
                        <div class="infoSingleBook">
                            <p><b>Auteur: </b><%= auteur %></p>
                            <p><b>Description: </b><%= description %></p>
                            <p><b>Genre : </b><%= genre %></p>
                            <p><%= price %> €</p>
                            <p><b>Date de publication : </b><%= publishDate %></p>
                            <p><b>ISBN : </b><%= isbn %></p>
                        </div>
                        <div class="imageSingleBook"></div>
                    </div>
                </div>
                <div class="buttonSinglePage">
                    <a href="/book/delete/<%= id %>" class="deleteButton">Supprimer ce livre</a>
                    <a href="/book/updatePage/<%= id %>" class="updateBook">Modifier ce livre</a>
                </div>
            </div>
        </main>
    </body>
</html>




